body {
  font-family: "Lucida Grande", Lucida, Helvetica, Arial, sans-serif;
  background: #fff;
  color: #333;
  margin: 0px;
  padding: 0px;
}
#header {
  background: #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#b8b8b8), to(#7a7a7a));
  background: -moz-linear-gradient(top, #b8b8b8, #7a7a7a);
  margin: 0px;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}
#header h1 {
  font-family: Inconsolata, Monaco, Courier, mono;
  color: #fff;
  margin: 0px;
}
#header .cart-info {
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: right;
  padding: 10px;
  background: #555;
  background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#444));
  background: -moz-linear-gradient(top, #666, #444);
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}
img {
  border: 0;
}
#productlistview ul {
  list-style: none;
}
.item {
  float: left;
  width: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 12px;
}
.item-title {
  font-weight: bold;
}
.item-artist {
  font-weight: bold;
  font-size: 14px;
}
.item-detail {
  margin: 10px 0 0 10px;
}
.item-detail .item-image {
  float: left;
  margin-right: 10px;
}
.item-detail .item-info {
  padding: 100px 10px 0px 10px;
}
